header,h2{color: antiquewhite; 
display: grid;
place-items: center;
}
body{color: antiquewhite;
align-items: center;
background: green;
}
.firstImage{
    display: grid;
    place-items: center;
    margin: auto;
    display: block;
}
.secondImage{
    display: grid;
    margin: auto;
    place-items: center;
    display: block;
}
.thirdImage{
    display: grid;
place-items: center;
margin: auto;
display: block;
}
.fourImage{
    display: grid;
    place-items: center;
    margin: auto;
    display: block
}