header, h2{text-align: center;

}
body{background-color: crimson;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

.firstImage{
    width: 450px;
    height: 450px;
    margin-left: auto;
    display: block;
    margin-bottom: auto;
}

h1,h2{
    color: wheat;
}
.secondImage{
    width: 450px;
    height: 450px;
    margin: auto;
    display: block;
    margin-bottom: auto;
}
.thirdImage{
    width: 450px;
    height: 450px;
    margin: auto;
    display: block;
    margin-bottom: auto;
}
.fourImage{
    width: 450px;
    height: 450px;
    margin: auto;
    display: block;
    margin-bottom: auto
}
.firstSection{
font-family: serif;
font-size: xx-large;
}
.firstDiv{
text-align: center;
color: wheat;
}
.secondDiv{
    text-align: left;
}