header,h2{
    display: grid;
    place-items: center;
    font-size: xx-large;
    color:brown
}
h1{  display: grid;
    place-items: center;
    font-size: xx-large;
    color:rgb(109, 27, 27);
    
}

h2{
    color: rgb(43, 44, 114);
}
body{align-items: center;
    background: green;
    display: grid;
    place-items:center;
}
main{
    display: grid;
    place-items: center;
    color:black;
    font-size: x-large;
}
.firstImage{
    display: grid;
    place-items: center;
    margin: auto;
    display: block;
}
.secondImage{
    display: grid;
    margin: auto;
    place-items: center;
    display: block;
    height: 400px;
    width: 400px;
}
.thirdImage{
    display: grid;
    place-items: center;
    margin: auto;
    display: block;
    height: 430px;
    width: 430px;
}
.fourImage{
    display: grid;
    place-items: center;
    margin: auto;
    display: block;
    width: 430px;
    height: 430px;
}
.firstSection{
    color: red;
    align-items: center;
    place-items: center;
    font-size: xx-large;
}