body{
    background-color: burlywood;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1pc;
}

.firstImage{
    width: 150px;
    height: 150px;
    margin: auto;
    display: block;
    margin-bottom: 10px;
}

body{
    text-align: center;
    
}

h1{
    color: darkred;
}