body{
    background-color: burlywood;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1pc;
    justify-content: center; 
    margin-top: auto;
}
.firstImage{
    width: 450px;
    height: 450px;
    margin: auto;
    display: block;
    margin-bottom: auto;
}

body{
    text-align: center;
    
}

h1,h2{
    color: darkred;
}
.secondImage{
    width: 450px;
    height: 450px;
    margin: auto;
    display: block;
    margin-bottom: auto;
}
.thirdImage{
    width: 450px;
    height: 450px;
    margin: auto;
    display: block;
    margin-bottom: auto;
}
.fourImage{
    width: 450px;
    height: 450px;
    margin: auto;
    display: block;
    margin-bottom: auto
}
.firstSection{
font-family: serif;
font-size: xx-large;
}